.btn {
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
}

.btn--primary {
    background: var(--primary-color);
    color: white;
}

.btn--primary:hover {
    background: var(--secondary-color);
}

.btn--secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn--secondary:hover {
    background: var(--primary-color);
    color: white;
}